h1 {
        font-size: 5rem;
        color: red;        
}

p {
        color:royalblue;

}

.first {
        background-color: #000;
        height: 10rem;
        text-align: center;
}

.second {
        background-color: skyblue;
}

.second p {
        font-size: 2rem;
}

.one {
        
}

